/* VARIABLES */

// colors
$primary-shade: rgb(255, 78, 46);
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #0079C0;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #ffffff;
$black: #000000;
$gray: #999999;
$teal: #00ABA9;
$teal-100: #71c6bc;
$teal-800: #439095;
$orange-200: #f89c57;
$orange-500: #f16924;
$orange-800: #cc4400;
$green-200: #20ce6f;
$green-400: #22b463;
$green-800: #166b84;
$green-900: #038c4b;
$gray-100: #f8f9fa;
$gray-200: #edf0f0;
$gray-300: #b8cbd0;
$gray-400: #dadbdb;
$gray-500: #9f9f9f;
$gray-800: #343a40;
$gray-850: #5a7d8c;
$gray-900: #323232;
$blue-100: #e4f7f9;
$blue-150: #e4f5f9;
$blue-200: #a3c1d2;
$blue-300: #7ab5da;
$blue-400: #7ebfB6;
$blue-500: #2276ac;
$blue-600: #567484;
$blue-700: #2b5069;
$blue-800: #39576e;
$blue-900: #2c3e50;
$blue-1000: #23404e;
$primary-blue: #2276ac;
$secondary-blue: #2b5069;
$cta-green: $green-400;
$hover-green: $green-200;
$gray-lt: $gray-200;
$gray-md: $gray-500;
$gray-dk: $gray-900;
$theme-colors: ( primary: $accent-shade, secondary: $primary-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-200, dark: $gray-800);
$brand-primary: $accent-shade;
//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
//
// Style anchor elements.
$link-color: $primary-blue;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
