{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% set card1 = rows[0]['#rows'][0] %}
{% set card2 = rows[0]['#rows'][1] %}
{% set card3 = rows[0]['#rows'][2] %}
{% set card4 = rows[0]['#rows'][3] %}
{% set card5 = rows[0]['#rows'][4] %}

<div class="row-offcanvas row-offcanvas-left clearfix">
  <div class="row mx-auto homepage-worldview col-12">
    <div class="row col-8 card-1-bg" style="background-image: url('{{ card1['#row']._entity.field_thumbnail|file_url }}');">
      <div class="row h-100 col-6">
        <div class="card-1-container h-100">
          <div class="col-12 homepage-title-light card-1 text-align-center">
            <a href="/worldview/worldview-image-archive/">
              Worldview<br>
              Image of the Week
            </a>
          </div>
          <div class="card-title text-center">
            <a href="/node/{{ card1['#row']._entity.nid.value }}">{{ card1['#row']._entity.title.value }}</a>
          </div>
          <div class="card-date text-center">
            {{ card1['#row']._entity.created.value|format_date('short') }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <a href="/node/{{ card1['#row']._entity.nid.value }}"><img class="img-fluid w-100 h-100" src="/sites/default/files/clearbox.png"></a>
      </div>
    </div>
    <div class="row col-4 square-cards-row">
      <div class="col-md-12 col-lg-6 square-card card-2" style="background: linear-gradient(rgba(43,80,105,.7),rgba(43,80,105,.7)),url('{{ card2['#row']._entity.field_thumbnail|file_url }}');">
        <div class="card-contents my-auto">
          <div class="card-title">
            <a href="/node/{{ card2['#row']._entity.nid.value }}">{{ card2['#row']._entity.title.value }}</a>
          </div>
          <div class="card-date">
            {{ card2['#row']._entity.created.value|format_date('short') }}
          </div>
        </div>
      </div>
      <div class="col-md-12 col-md-12 col-lg-6 square-card card-3" style="background: linear-gradient(rgba(34,118,172,.7),rgba(34,118,172,.7)),url('{{ card3['#row']._entity.field_thumbnail|file_url }}');">
        <div class="card-contents my-auto">
          <div class="card-title">
            <a href="/node/{{ card3['#row']._entity.nid.value }}">{{ rows[0]['#rows'][2]['#row']._entity.title.value }}</a>
          </div>
          <div class="card-date">
            {{ card3['#row']._entity.created.value|format_date('short') }}
          </div>
        </div>
      </div>
      <div class="col-md-12 col-md-12 col-lg-6 square-card card-4" style="background: linear-gradient(rgba(34,180,99,.7),rgba(34,180,99,.7)),url('{{ card4['#row']._entity.field_thumbnail|file_url }}');">
        <div class="card-contents my-auto">
          <div class="card-title">
            <a href="/node/{{ card4['#row']._entity.nid.value }}">{{ rows[0]['#rows'][3]['#row']._entity.title.value }}</a>
          </div>
          <div class="card-date">
            {{ card4['#row']._entity.created.value|format_date('short') }}
          </div>
        </div>
      </div>
      <div class="col-md-12 col-md-12 col-lg-6 square-card card-5" style="background: linear-gradient(rgba(241,105,36,.7),rgba(241,105,36,.7)),url('{{ card5['#row']._entity.field_thumbnail|file_url }}');">
        <div class="card-contents my-auto">
          <div class="card-title">
            <a href="/node/{{ card5['#row']._entity.nid.value }}">{{ rows[0]['#rows'][4]['#row']._entity.title.value }}</a>
          </div>
          <div class="card-date">
            {{ card5['#row']._entity.created.value|format_date('short') }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

{#
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content row">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      <div class="mt-3">{{ footer }}</div>
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
#}
