#map {
  width: 100%;
  height: 595px;
  margin:0;
  padding:0;
}

.marker-cluster-small div {
  background-color: #000;
  color: #fff;
}

.leaflet-tooltip {
  max-width: 20rem;
  padding: 1.75rem !important;
  background: #2b5069 !important;
  color: #fff;
  border: none;
  width: 40rem;
  white-space: normal;
}

.leaflet-tooltip .upper {
  border-bottom: 1px solid #4E7F96;
  padding-bottom: 0.5rem !important;
}

.leaflet-tooltip .name {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
}

.leaflet-tooltip p {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0 !important;
  margin-top: 0.5rem !important;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: none !important;
}
