{#
/**
 * @file
 * Default theme implementation for a views slideshow text next control.
 *
 * Available variables:
 * - classes: Classes to apply to the control.
 * - vss_id: The slideshow's id.
 *
 * @see template_preprocess_views_slideshow_controls_text_next()
 *
 * @ingroup vss_templates
 */
#}
<span id="views_slideshow_controls_text_next_{{ vss_id }}" {{ attributes.addClass(classes) }}>
  <a class="btn btn-green" href="#">{{ 'Next'|t }}</a>
</span>
