{% if attributes.hasClass('span12') %}
  <div {{ attributes.removeClass('span12').removeAttribute('data-width').addClass(['col-md-3','col-lg-3','col-xl-12']) }}>
{% else %}
  <div {{ attributes }}>
{% endif %}
  <div class="tb-megamenu-column-inner mega-inner clearfix">
     {% if close_button %}
      {{ close_button }}
    {% endif %}
    {% for item in tb_items %}
      {{ item }}
    {% endfor %}
  </div>
</div>
