{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}


{# Top level topics - vocabulary = gcmd #}
{% if term_slug and vocabulary == 'gcmd' %}
  {% set title_description_classes = 'col-sm-8 col-md-8 col-lg-9 col-xl-9 pt-0 pt-sm-0 pt-lg-3 px-0 topic-overlay-summary' %}
  {% set content_container_classes = term_child ? 'content container' : 'content container pt-0 pt-sm-0 pt-md-3 pt-lg-4' %}
  {% set description_classes = 'hero-description' %}
  {% set box_class = '' %}
  {% set button_styles = 'hero-button-gcmd' %}
  {# Child topics - vocabulary = gcmd #}
{% elseif term_child and vocabulary == 'gcmd' %}
  {% set title_description_classes = 'col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0 white-bg' %}
  {% set content_container_classes = 'content container pt-3 pt-md-4' %}
  {% set description_style = 'color: #000000' %}
  {% set box_class = '' %}
  {% set button_styles = 'hero-button-gcmd-child' %}
  {# vocabulary = daac #}
{% elseif vocabulary == 'daac' %}
  {% set title_description_classes = 'col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-1 px-0 topic-overlay-summary' %}
  {% set content_container_classes = 'content container pt-4 mb-3' %}
  {% set description_style = 'min-height: auto' %}
  {% set description_classes = ' hero-daac-description' %}
  {% set box_class = 'hero-box-daac' %}
  {% set button_styles = 'hero-button-daac' %}
  {# vocabulary = sensors #}
{% elseif vocabulary == 'sensors' %}
  {% set title_description_classes = 'col-sm-8 col-md-8 col-lg-9 col-xl-9 pt-3 px-0 topic-overlay-sensors' %}
  {% set content_container_classes = 'content container pt-4' %}
  {% set description_style = 'min-height: 6rem;' %}
  {% set box_class = '' %}
  {% set button_styles = 'hero-button-sensor' %}
  {# node title #}
{% elseif node_type == 'top_level_landing' %}
  {% set title_description_classes = 'col-sm-12 col-md-12 col-lg-12 col-xl-12 py-3 px-0 topic-overlay-summary' %}
  {% set content_container_classes = 'content' %}
  {% set description_style = 'color: #262626' %}
  {% set box_class = 'hero-box-landing' %}
  {% set button_styles = 'hero-button-landing' %}
  {# content type = pathfinder_page #}
{% elseif node_type == 'pathfinder_page' %}
  {% set title_description_classes = 'col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0 topic-overlay-summary' %}
  {% set content_container_classes = 'content container pt-4 pt-md-5 pb-2' %}
  {% set description_style = '' %}
  {% set box_class = '' %}
  {% set button_styles = '' %}
  {# content type = program or resource spotlight #}
{% elseif node_type == 'program' or node_type == 'resource_spotlight' %}
  {% set title_description_classes = 'col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0 topic-overlay-summary' %}
  {% set content_container_classes = 'content container pt-4 px-4' %}
  {% set description_style = 'min-height: 4rem;' %}
  {% set box_class = 'hero-box-program' %}
  {% set button_styles = 'hero-button-program' %}
  {# content type = article or news_page or event or backgrounder #}
{% elseif node_type == ('article' or 'news_page' or 'data_chat' or 'data_user_profile' or 'event' or 'backgrounder' or 'tutorial') %}
  {% set title_description_classes = 'col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0 topic-overlay-summary' %}
  {% set content_container_classes = 'content container pt-3 pt-md-5' %}
  {% set description_style = '' %}
  {% set box_class = '' %}
  {% set button_styles = '' %}
  {# default #}
{% else %}
  {% set title_description_classes = 'col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0 topic-overlay-summary' %}
  {% set content_container_classes = 'content container pt-3 pt-md-4' %}
  {% set description_style = 'color: #FFFFFF' %}
  {% set box_class = '' %}
  {% set button_styles = '' %}
{% endif %}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'px-0',
    vocabulary == 'sensors' ? 'sensor-bg'
  ]
%}

<div{{ attributes.addClass(classes) }}>

  {% block content %}

    {# Top Level Topic and DAAC Hero image, name, description, Find Data button, and topic icon. #}
    {% if term_slug and configuration.label == 'Term Name' %}
      <div{{ content_attributes.addClass(content_container_classes, box_class) }}>
        <div class="row">
          <div class="{{ title_description_classes }}">
            <span class="topic-overlay-text">
              <h1 class="mt-3 mt-sm-3 mt-md-0 mb-1">{{ term_name }}</h1>
            </span>
            {% if vocabulary != 'sensors' %}
              <div class="hero-description" style="{{ description_style }}">
                {{ term_description|raw }}
              </div>
            {% endif  %}
            {% if get_data_uri %}
              <button type="button" class="btn-green mt-3 {{ button_styles }}" title="Find Data"><a href="{{ get_data_uri }}" target="_blank">Find Data</a></button>
              {# DAAC/Topic RSS feeds #}
              {% set daac_rss_feed = content.field['#object'].field_daac_rss_feed.value %}
              {% if daac_rss_feed %}
                <button type="button" class="btn-green mt-3 {{ button_styles }}" title="RSS Feed"><a href="{{ daac_rss_feed }}" target="_blank"><img alt="RSS Feed" class="mb-1" src="/sites/default/files/2022-03/rss-icon-small.png" width="19" height="19"></a></button>
              {% elseif vocabulary == 'gcmd' %}
                <a class="btn-green mt-3 {{ button_styles }}" title="{{ term_name }} RSS Feed" href="/topics/rss/{{ term_name|replace({"/" : " "})|url_encode }}" target="_blank"><img alt="{{ term_name }} RSS Feed" class="mb-1" src="/sites/default/files/2022-03/rss-icon-small.png" width="19" height="19"></a>
              {% endif %}
            {% else %}
              {# Empty div otherwise the main hero element isnt sized correctly without the button #}
              <div class="mt-5"></div>
            {% endif %}
          </div>
          {% if vocabulary == 'gcmd' %}
            <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2 d-none d-md-block">
              <img src="/sites/default/files/2021-08/{{ term_slug }}-icon.png" alt="{{ term_name }}" title="{{ term_name }}" style="max-width: 132%;">
            </div>
          {% elseif vocabulary == 'sensors' %}
            <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2 d-none d-md-block sensor-satellite">
              <img src="/sites/default/files/sensors/satellite-v2.png" alt="satellite" title="satellite">
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {# Child Topic: name and description. #}
    {% if term_child and configuration.label == 'Term Name' %}
      <div{{ content_attributes.addClass(content_container_classes, box_class) }}>
        <div class="row">
          <div class="{{ title_description_classes }}">
            <span class="topic-overlay-child-topic dark-blue-text">
              <h1 class="mt-0 mb-3 fs-2">{{ term_name }}</h1>
            </span>
            {% if get_data_uri %}
              <button type="button" class="btn-green {{ button_styles }}" title="Find Data"><a href="{{ get_data_uri }}" target="_blank">Find Data</a></button>
            {% endif %}
            <a class="btn-green {{ button_styles }}" title="{{ term_name }} RSS Feed" href="/topics/rss/{{ term_name|replace({"/" : " "})|url_encode }}" target="_blank"><img alt="{{ term_name }} RSS Feed" class="mb-1" src="/sites/default/files/2022-03/rss-icon-small.png" width="19" height="19"></a>
          </div>
        </div>
      </div>
      <div class="container mt-2">
        <div class="row">
          <div class="{{ title_description_classes }} border-top border-white">
            <div class="pt-3 pb-5" style="{{ description_style }}">
              {{ term_description|raw }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}


    {# Program and Resource Spotlight pages #}
    {% if (node_slug and configuration.label == 'Title') and (node_type == 'program' or node_type == 'resource_spotlight') %}
      <div{{ content_attributes.addClass(content_container_classes, box_class) }}>
        <div class="row">
          <div class="{{ title_description_classes }}">
            {% if node_type == 'program' %}
            <p class="pre-title-blue">ESDS Program</p>
            {% elseif node_type == 'resource_spotlight' %}
            <p class="pre-title-blue">Resource Spotlight</p>
            {% endif %}
            <span class="topic-overlay-text">
              <h1 class="mt-0 mb-4 fs-3">{{ node_title }}</h1>
            </span>
            {% if node_summary %}
              <div style="{{ description_style }}">
                {{ node_summary|raw }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if node_top_nav %}
        <div class="container g-0">
          {# Leveraging the Twig Tweak module to render the block #}
          {{ node_top_nav|view }}
        </div>
      {% endif %}
    {% endif %}

    {# Pathfinder pages #}
    {% if (node_slug and configuration.label == 'Title') and (node_type == 'pathfinder_page') %}
      <div class="pathfinder-title">
        <div{{ content_attributes.addClass(content_container_classes, box_class) }}>
          <div class="row">
            <div class="{{ title_description_classes }}">
              <span class="topic-overlay-text">
                <h1 class="mt-0 mb-4 fs-2">{{ node_title }}</h1>
              </span>
            </div>
          </div>
        </div>
      </div>
      {% if node_summary %}
        {% if summary_background_url %}
          <div class="" style="background-image: url('{{ summary_background_url}}'); background-repeat: no-repeat;">
        {% else %}
          <div class="pathfinder-summary">
        {% endif %}
          <div class="container">
            <div class="row">
              <div class="{{ title_description_classes }}">
                <div class="py-4 py-md-4 pathfinder-description" style="{{ description_style }}">
                  {{ node_summary|raw|striptags }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if node_top_nav %}
        <div class="container g-0">
          {# Leveraging the Twig Tweak module to render the block #}
          {{ node_top_nav|view }}
        </div>
      {% endif %}
    {% endif %}

    {# Article, News, Event, and Backgrounder content types #}
    {%
      set node_array = [
      'article',
      'news_page',
      'data_chat',
      'data_user_profile',
      'event',
      'backgrounder',
      'tutorial'
    ]
    %}

    {% if (node_slug and configuration.label == 'Title') and node_type in node_array %}
      <div{{ content_attributes.addClass(content_container_classes, box_class) }}>
        <div class="row">
          <div class="{{ title_description_classes }}">
            <span class="topic-overlay-text">
              <h1 class="mt-0 mb-3 fs-2">{{ node_title }}</h1>
            </span>
          </div>
        </div>
      </div>
      {% if node_summary %}
        <div class="container">
          <div class="row">
            <div class="{{ title_description_classes }} border-top border-white">
              <div class="pt-3 pb-5" style="{{ description_style }}">
                {{ node_summary|raw|striptags }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if node_top_nav %}
        <div class="container g-0">
          {# Leveraging the Twig Tweak module to render the block #}
          {{ node_top_nav|view }}
        </div>
      {% endif %}
    {% endif %}

    {# Basic Page #}
    {% if (node_slug and configuration.label == 'Title') and node_type == 'page' %}
      {# two display modes depends on if there is a hero image defined #}
      {# Hero Image Display Mode #}
      {% if hero_image_url %}
      {# {% if node_title in basic_page_array %} #}
        <div class="content container pt-4 px-4 blue-bg mt-6">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0 topic-overlay-summary">
              <span class="topic-overlay-text">
              <h1 class="mt-0 mb-4 fs-3">{{ node_title }}</h1>
            </span>
              {% if node_summary %}
                <div class="mb-4" style="{{ description_style }}">
                  {{ node_summary|raw }}
                </div>
              {% endif %}
              {% if get_data_uri %}
                <button type="button" class="btn-green hero-button-basic" title="Find Data"><a href="{{ get_data_uri }}" target="_blank">Find Data</a></button>
              {% else %}
                {# Empty div otherwise the main hero element isnt sized correctly without the button #}
                <div class="mt-5"></div>
              {% endif %}
            </div>
          </div>
        </div>
        {# No Hero Image Display Mode #}
        {% else %}
        <div{{ content_attributes.addClass(content_container_classes) }} style="{{ box_style }}">
          <div class="row">
            <div class="{{ title_description_classes }}">
        <span class="topic-overlay-text">
          <h1 class="mt-0 mb-3 fs-2">{{ node_title }}</h1>
        </span>
            </div>
          </div>
        </div>
        {% if node_summary %}
          <div class="container">
            <div class="row">
              <div class="{{ title_description_classes }} border-top border-white">
                <div class="pt-3 pb-5" style="{{ description_style }}">
                  {{ node_summary|raw|striptags }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}

    {# Landing pages #}
    {% if (node_slug and configuration.label == 'Title') and (node_type == 'top_level_landing') %}
      <div{{ content_attributes.addClass(content_container_classes, box_class) }}>
        <div class="container">
          <div class="row">
            <div class="{{ title_description_classes }}">
              <span class="topic-overlay-text">
                <h1 class="mt-0 mb-4">{{ node_title }}</h1>
              </span>
            </div>
          </div>
        </div>
      </div>
      {% if node_summary %}
        <div class="" style="background-color:rgba(255, 255, 255, 0.8);">
          <div class="container">
            <div class="row">
              <div class="{{ title_description_classes }}">
                <div style="{{ description_style }}">
                  {{ node_summary|raw }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

  {% endblock %}

</div>
