{#
/**
 * @file
 * Default theme implementation for a text field.
 *
 * A 'clearfix' class is added, because 'text' fields have a 'format' property
 * that allows a Text Format to be associated with the entered text, which then
 * applies filtering on output. A common use case is to align images to the left
 * or right, and without this 'clearfix' class, such aligned images may be
 * rendered outside of the 'text' field formatter's boundaries, and hence
 * overlap with other fields. By setting the 'clearfix' class on all 'text'
 * fields, we prevent that.
 *
 * @see https://www.drupal.org/node/2358529
 *
 * A 'text-formatted' class is added to assist with default styling of base
 * elements such as paragraphs and lists that may not have classes assigned to
 * them. This allows user entered content to have default styling without
 * interfering with the styles of other UI components such as system generated
 * lists or other dynamic content.
 *
 * @see https://www.drupal.org/node/2539860
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% set start_date = element['#object'].field_event_date.value %}
{% set end_date = element['#object'].field_event_date_end.value|default(start_date) %}

{% if date(start_date) >= date() or date(end_date) >= date() %}

  {% if not element['#object'].event_recording.value %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field__item') }}>
        <button type="button" class="btn-green" title="Register Here">
          <a target="_blank" href="{{ item.content['#url'] }}">Register Here</a>
        </button>
      </div>
    {% endfor %}
  {% endif %}

{% endif %}
