{#
/**
 * this is a template which targets the style guide page, overriding the main content field
 *
 */
#}
{% block content %}
<p>Welcome to your complimentary style guide! Your designer will use this to make sure your site is consistent from page to page. Likewise, you can use this guide to make sure your sales and marketing material remains consistent and on brand throughout all&nbsp;collateral.</p>
<p style="line-height: 100%">&nbsp;</p>
	
<!--Logo-->
	
<h1>Logo</h1>
<div style="width: 100%; background-color:#2276ac; padding:20px;">
  <a href="#"><img src="/sites/default/files/earthdata-oaos-logo.png" alt="Home"></a>
<div style="clear: both;"></div>
</div>
<p style="line-height: 100%">&nbsp;</p>
<hr>
	
<!--Colors-->	
	
<h1>Colors</h1>
<table class="table table-bordered table table-striped" width="100%">
  <tbody>
    <tr>
      <th scope="col">Color Name</th>
      <th scope="col">Color Swatch</th>
      <th scope="col">RGB Value</th>
      <th scope="col">HEX Code</th>
    </tr>
    <tr>
      <td>Primary Blue</td>
      <td style="background-color:#2276ac">&nbsp;</td>
      <td>rgb (34, 118, 172)</td>
      <td>#2276ac</td>
    </tr>
    <tr>
      <td>Secondary Blue</td>
      <td style="background-color:#2b5069">&nbsp;</td>
      <td>rgb (43, 80, 105)</td>
      <td>#2b5069</td>
    </tr>
    <tr>
      <td>CTA Green</td>
      <td style="background-color:#22b463">&nbsp;</td>
      <td>rgb (34, 180, 99)</td>
      <td>#22b463</td>
    </tr>
	<tr>
      <td>Dark Gray</td>
      <td style="background-color:#323232">&nbsp;</td>
      <td>rgb (50, 50, 50)</td>
      <td>#323232</td>
    </tr>
	<tr>
      <td>Medium Gray</td>
      <td style="background-color:#9fa0a0">&nbsp;</td>
      <td>rgb (159, 160, 160)</td>
      <td>#9fa0a0</td>
    </tr>    
	<tr>
      <td>Light Gray</td>
      <td style="background-color:#edf0f0">&nbsp;</td>
      <td>rgb (237, 240, 240)</td>
      <td>#edf0f0</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<hr>
	
<!--Typography-->


<h1>Typography</h1>
<br />
<h4 style="color:#9fa0a0; text-transform:uppercase;">Font</h4>
<p>Body Text: 1rem (16px) / #323232 / 500<br />
Font Family: Open Sans (sans-serif)<br />
<span style="font-weight:300">Font Weight 300</span><br /> 
<span style="font-weight:500">Font Weight 500</span><br /> 
<span style="font-weight:700">Font Weight 700</span><br /> 
Body Text: 1rem (16px) / #323232 / 500</p>
<p style="line-height: 100%">&nbsp;</p>


<h4 style="color:#9fa0a0; text-transform:uppercase;">Headings</span></h4>

<h1>H1: 2.5rem (40px) / #323232 / 700</h1>
<h2>H2: 2rem (32px) / #323232 / 500</h2>
<h3>H3: 1.5rem (24px) / #323232 / 500</h3>
<h4>H4: 1.25rem (20px) / #323232 / 700</h4>
<p style="line-height: 100%">&nbsp;</p>

<h4 style="color:#9fa0a0; text-transform:uppercase;">Titles</h4>
<div class="section-title">Section Title: 2REM (32PX) / #2B5069 / 500 / UPPERCASE</div>
<div class="sidebar-title">Sidebar Title: 1.5REM (24PX) / #2B5069 / 500 / UPPERCASE</div>

<p style="line-height: 100%">&nbsp;</p>

<h4 style="color:#9fa0a0; text-transform:uppercase;">Ordered List</h4>
<ol>
  <li>List item goes here.</li>
  <li>List item goes here.</li>
  <li>List item goes here.</li>
</ol>
<p style="line-height: 100%">&nbsp;</p>
<h4 style="color:#9fa0a0; text-transform:uppercase;">Unordered List</h4>
<ul>
  <li>List Item</li>
  <li>
    Nested List Item
    <ul>
      <li>Nested Children</li>
      <li>Nested Children</li>
      <li>
        More Nesting
        <ul>
          <li>More Nested Children</li>
          <li>More Nested Children</li>
          <li>More Nested Children</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>List Item</li>
  <li>List Item</li>
  <li>List Item</li>
</ul>
<p style="line-height: 100%">&nbsp;</p>
<hr>

<h1>Links and Buttons</h1>

<a href="#" target="_blank">Text Link / #2276ac</a><br />
<br /> 

<button class="btn btn-primary" tabindex="-1">Button Link</button>&nbsp;&nbsp;Latent Color: #22b463 / Hover Color: #20ce6f

{#	
<!--Components Section-->
	
<h1>Bootstrap Elements</h1>
	
<!--Accordion-->
	
<h3 style="font-weight:bold;">Accordion</h3>
<p>Click the accordions below to expand/collapse the accordion content.</p>
<p><a href="https://getbootstrap.com/docs/5.0/components/accordion/#example" target="_blank">See the Bootstrap Example >></a></p>
  <div class="eui-accordion">
    <div class="eui-accordion__header">
      <h2 class="eui-accordion__title">Accordion Title</h2>
      <div class="eui-accordion__icon" tabindex="0">
        <i class="eui-icon eui-fa-chevron-circle-down"></i>
        <span class="eui-sr-only">Toggle Accordion Title</span>
      </div>
    </div>
    <div class="eui-accordion__body" style="display: block;">
      <h3>Sample Content Title</h3>
      <p>Here is just a block of plain text, but this entire container can be outfitted to contain any content that you can imagine.</p>
    </div>
  </div>
	
<!--Badges-->
	
<h3 style="font-weight:bold;">Badges</h3>
<p><a href="https://getbootstrap.com/docs/5.0/components/badge/#example" target="_blank">See the Bootstrap Example >></a></p>
<p style="line-height: 100%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Basic Badges</p>
<span class="eui-badge--sm">NSIDC</span>
<span class="eui-badge--md">PO DAAC</span>
<span class="eui-badge">EOSDIS</span>
<p style="line-height: 100%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Split Badge</p>
<p>Split badges are used when the main badge information requires a value and a label. A common example would be displaying a badge with file format and size information.</p>
<span class="eui-badge--md eui-badge--split">HDF <span>24.6MB</span></span>
<p style="line-height: 100%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Linked Badge</p>
<p>Linked badges are helpful when you want to trigger an action such as a filter or section expand/collapse related to the content of the badge. Note: calls-to-action and major page actions should be reserved for buttons.</p>
<a href="#"><span class="eui-badge--lg">GES DISC</span></a>
<p style="line-height: 200%">&nbsp;</p>
	
<!--Banners-->
	
<h3 style="font-weight:bold;">Banners</h3>
<p>Banners can be used to focus the attention of the reader to an important message. Examples of useage are site-wide announcements, notifications, or error messages.</p>
<p><a href="https://getbootstrap.com/docs/5.0/components/alerts/#examples" target="_blank">See the Bootstrap Example >></a></p>
<!--Informative banner for announcements-->
<div class="eui-banner--info">
  <p class="eui-banner__message">
    <strong>Heads up!</strong> You need to be aware of something.
  </p>
</div>
<!--Success banner for successful actions-->
<div class="eui-banner--success">
  <p class="eui-banner__message">
    <strong>Success!</strong> You accomplished what you set out to do.
  </p>
</div>
<!--Warning banner for trying to avoid a problem-->
<div class="eui-banner--warn">
  <p class="eui-banner__message">
    <strong>Watch out!</strong> Something seems fishy.
  </p>
</div>
<!--Danger banner for failed actions-->
<div class="eui-banner--danger">
  <p class="eui-banner__message">
    <strong>Nope!</strong> Whatever you just tried to do did not work.
  </p>
</div>
<!--Dismissable banner markup-->
<div class="eui-banner--success">
  <p class="eui-banner__message">
    <strong>Success!</strong> You accomplished what you set out to do and can dismiss the banner.
    <a href="javascript:void(0)" class="eui-banner__dismiss" title="Dismiss banner"><i class="eui-icon eui-fa-times-circle"></i></a>
  </p>
</div>
<p style="line-height: 200%">&nbsp;</p>

<!--Breadcrumbs-->

<h3 style="font-weight:bold;">Breadcrumbs</h3>
<p>Use these breadcrumbs as a way-finder.</p>
<p><a href="https://getbootstrap.com/docs/5.0/components/breadcrumb/#example" target="_blank">See the Bootstrap Example >></a></p>
<div class="eui-breadcrumbs">
  <ol class="eui-breadcrumbs__list">
    <li class="eui-breadcrumbs__item"><a href="#">Breadcrumbs</a></li>
    <li class="eui-breadcrumbs__item"><a href="#">Sub-page</a></li>
    <li class="eui-breadcrumbs__item">Current Page</li>
  </ol>
</div>
<p style="line-height: 100%">&nbsp;</p>

<!--Buttons-->

<h3 style="font-weight:bold;">Buttons</h3>
<p>Buttons can be used throughout the site to trigger actions.</p>
<p><a href="https://getbootstrap.com/docs/5.0/components/buttons/#examples" target="_blank">See the Bootstrap Example >></a></p>

<!-- Standard Button -->
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Standard Buttons</p>
<p><button type="button" class="eui-btn">Default</button>
<!-- Colorized buttons provide extra visual weight. -->
<button type="button" class="eui-btn--green">Green Button</button>
<button type="button" class="eui-btn--blue">Blue Button</button>
<button type="button" class="eui-btn--red">Red Button</button></p>
<p style="line-height: 100%">&nbsp;</p>
<!-- Large Buttons -->
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Sizes</p>
<p><button type="button" class="eui-btn eui-btn--lg">Large Button</button>
<button type="button" class="eui-btn--green eui-btn--lg">Large Green Button</button></p>
<!-- Default Buttons -->
<p><button type="button" class="eui-btn">Default Size Button</button>
<button type="button" class="eui-btn--green">Default Size Green Button</button></p>
<!-- Small Buttons -->
<p><button type="button" class="eui-btn eui-btn--sm">Small Button</button>
<button type="button" class="eui-btn--green eui-btn--sm">Small Green Button</button></p>
<p style="line-height: 100%">&nbsp;</p>
<!-- Rounded corners-->
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Options</p>
<p><button type="button" class="eui-btn eui-btn--round">Round Corners</button>
<!-- To be used when some requirement to use the button has not yet been met-->
<button type="button" disabled="disabled" class="eui-btn eui-btn--disabled">Disabled Button</button>
<!-- Internal meta pill for additional button information; Primarily used for download size information -->
<button type="button" class="eui-btn eui-btn--pill">Pill Detail Button <span>24.6MB</span></button>
<!-- Icon button -->
<button type="button" class="eui-btn"><i class="eui-icon eui-fa-globe"></i> Icon Button</button></p><p style="line-height: 100%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Combinations</p>
<!-- Rounded icon button with pill meta -->
<p><button type="button" class="eui-btn--green eui-btn--round eui-btn--pill"><i class="eui-icon eui-fa-arrow-circle-down"></i> Rounded Download <span>29MB</span></button>
<!-- Help button -->
<button type="button" class="eui-btn--blue"><i class="eui-icon eui-fa-question-circle"></i> Help</button></p>
<!-- Basic Button Group -->
<p style="line-height: 100%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Groups</p>
<div class="button-group">
  <button type="button" class="eui-btn eui-btn--group-main">Button Group</button><button type="button" class="eui-btn eui-btn--group-secondary toggle-button-group"><i class="eui-icon eui-fa-sort-desc"></i></button>
  <ul class="button-group--dropdown">
    <li><a href="#">This is an option</a></li>
    <li><a href="#">This is another action</a></li>
    <li><a href="#">Maybe one more just in case</a></li>
  </ul>
</div>
<!-- Button group options used with other button options -->
<div class="button-group">
  <button type="button" class="eui-btn--green eui-btn--group-main">Button Group Green</button><button type="button" class="eui-btn--green eui-btn--group-secondary toggle-button-group"><i class="eui-icon eui-fa-sort-desc"></i></button>
  <ul class="button-group--dropdown">
    <li><a href="#">This is an option</a></li>
    <li><a href="#">This is another action</a></li>
    <li><a href="#">Maybe one more just in case</a></li>
  </ul>
</div>
<!-- Rounded button group -->
<div class="button-group">
  <button type="button" class="eui-btn eui-btn--round eui-btn--group-main">Button Group Rounded</button><button type="button" class="eui-btn eui-btn--round eui-btn--group-secondary toggle-button-group"><i class="eui-icon eui-fa-sort-desc"></i></button>
  <ul class="button-group--dropdown">
    <li><a href="#">This is an option</a></li>
    <li><a href="#">This is another action</a></li>
    <li><a href="#">Maybe one more just in case</a></li>
  </ul>
</div>
<p style="line-height: 200%">&nbsp;</p>

<!--Pagination-->

<h3 style="font-weight:bold;">Pagination</h3>
<p><a href="https://getbootstrap.com/docs/5.0/components/pagination/#overview" target="_blank">See the Bootstrap Example >></a></p>
<ul class="eui-pagination">
  <li><a href="#">First</a></li>
  <li><a href="#"><i class="eui-icon eui-fa-chevron-circle-left"></i></a></li>
  <li><a class="active-page" href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&hellip;</a></li>
  <li><a href="#">24</a></li>
  <li><a href="#"><i class="eui-icon eui-fa-chevron-circle-right"></i></a></li>
  <li><a href="#">Last</a></li>
</ul>
<p style="line-height: 200%">&nbsp;</p>

<!--Tables-->

<h3 style="font-weight:bold;">Tables</h3>
<p><a href="https://getbootstrap.com/docs/5.0/content/tables/#overview" target="_blank">See the Bootstrap Example >></a></p>
<table>
  <thead>
    <tr>
      <th>Column 1 Header</th>
      <th>Column 2 Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Row 1, Column 1</td>
      <td>Row 1, Column 2</td>
    </tr>
    <tr>
      <td>Row 2, Column 1</td>
      <td>Row 2, Column 2</td>
    </tr>
    <tr>
      <td>Row 3, Column 1</td>
      <td>Row 3, Column 2</td>
    </tr>
    <tr>
      <td>Row 4, Column 1</td>
      <td>Row 4, Column 2</td>
    </tr>
  </tbody>
</table>
<p style="line-height: 200%">&nbsp;</p>
<hr>

<!--Bootstrap Cards Section-->
	
<h1>Bootstrap Card Styles</h1>
	
<!--Card Styles-->

<h3 style="font-weight:bold;">Card Examples</h3>
<p>Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.</p>
<p><a href="https://getbootstrap.com/docs/4.0/components/card/#example" target="_blank">See the Bootstrap Example >></a></p>
<p style="line-height: 100%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Standard</p>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://via.placeholder.com/286x180" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary"><span style="color: white;">Go somewhere</span></a>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Body</p>
<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Titles, Text, and Links</p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>

<h3 style="font-weight:bold;">Image Cards</h3>
<p>Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.</p>
<p><a href="https://getbootstrap.com/docs/4.0/components/card/#images" target="_blank">See the Bootstrap Example >></a></p>
<p style="line-height: 100%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Image Caption</p>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://via.placeholder.com/286x180" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>
<div class="card mb-3">
  <img class="card-img-top" src="https://via.placeholder.com/1029x180" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Image Overlay</p>
<div class="card bg-dark text-white">
  <img class="card-img" src="https://via.placeholder.com/1029x270" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>

<h3 style="font-weight:bold;">List Groups</h3>
<p>Create lists of content in a card with a flush list group.</p>
<p><a href="https://getbootstrap.com/docs/4.0/components/card/#list-groups" target="_blank">See the Bootstrap Example >></a></p>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
<p style="line-height: 200%">&nbsp;</p>

<h3 style="font-weight:bold;">Kitchen Sink</h3>
<p>Mix and match multiple content types to create the card you need, or throw everything in there. Shown below are image styles, blocks, text styles, and a list group—all wrapped in a fixed-width card.</p>
<p><a href="https://getbootstrap.com/docs/4.0/components/card/#kitchen-sink" target="_blank">See the Bootstrap Example >></a></p>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://via.placeholder.com/286x180" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>

<h3 style="font-weight:bold;">Header and Footer</h3>
<p>Add an optional header and/or footer within a card.</p>
<p><a href="https://getbootstrap.com/docs/4.0/components/card/#header-and-footer" target="_blank">See the Bootstrap Example >></a></p>
<p style="line-height: 100%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Featured</p>
<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary"><span style="color: white;">Go somewhere</span></a>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Quote</p>
<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer"><span style="color: white;">Someone famous in <cite title="Source Title">Source Title</cite></span></footer>
    </blockquote>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Navigation</p>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary"><span style="color: white;">Go somewhere</span></a>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>

<h3 style="font-weight:bold;">Card Layouts</h3>
<p>In addition to styling the content within cards, Bootstrap includes a few options for laying out series of cards. For the time being, <strong>these layout options are not yet responsive.</strong></p>
<p><a href="https://getbootstrap.com/docs/4.0/components/card/#card-layout" target="_blank">See the Bootstrap Example >></a></p>
<p style="line-height: 100%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Card Groups</p>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/342x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/342x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/342x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Card Decks</p>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/322x200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/322x200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/322x200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Card Columns</p>
<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/328x160" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <span style="color: white;">Someone famous in <cite title="Source Title">Source Title</cite></span>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/328x160" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          <span style="color: white;">Someone famous in <cite title="Source Title">Source Title</cite></span>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="https://via.placeholder.com/328x260" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <span style="color: white;">Someone famous in <cite title="Source Title">Source Title</cite></span>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<p style="line-height: 200%">&nbsp;</p>
<hr>
	
<!--EUI Components Section-->
	
<h1>EUI Components</h1>
	
<!--Callout Box-->

<h3 style="font-weight:bold;">Callout Box</h3>
<p>Use a callout box to present a set of links or content within the main body of a page. Designed to be displayed 3-wide.</p>
<div class="row">
<div class="eui-callout-box">
  <h3 class="eui-callout-box__title">Box Title</h3>
  <ul class="eui-callout-box__list">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li><a href="#">Link 4</a></li>
  </ul>
</div>

<div class="eui-callout-box--light">
  <h3 class="eui-callout-box__title">Box Title</h3>
  <ul class="eui-callout-box__list">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li><a href="#">Link 4</a></li>
  </ul>
</div>
</div>
<p style="line-height: 200%">&nbsp;</p>

<!--Content Capsule-->

<h3 style="font-weight:bold;">Content Capsule</h3>
<p>Content container item for use in search result sets, dataset or generic detailed lists.</p>
<div class="eui-capsule">
  <div class="eui-capsule__addendum">
    <div class="eui-capsule__thumb">
      <i class="eui-icon eui-fa-globe"></i>
      <p>No Image Available</p>
      <!--Load thumbnail image if one is available-->
      <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/search-thumb.jpg" />
      <ul class="eui-capsule__links">
        <li><a href="#">Optional Link 1</a></li>
        <li><a href="#">Optional Link 2</a></li>
      </ul>
    </div>
  </div>
  <div class="eui-capsule__content">
    <h3 class="eui-capsule__title">Article Title</h3>
    <a class="eui-content-link" href="#">https://earthdata.nasa.gov/...</a>
    <div class="eui-meta">
      <p class="eui-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      <i class="eui-icon eui-icon--lg eui-sd-badge-atmosphere"></i>
      <span class="eui-badge">DAAC</span>
      <p class="eui-meta-detail">Meta Information</p>
    </div>
  </div>
</div>
<p style="line-height: 200%">&nbsp;</p>

<!--Feature Grid-->

<h3 style="font-weight:bold;">Feature Grid</h3>
<p>The Feature Grid is designed to fit on a full-width section of the page and contains specific breakpoints for small adjustments so that the grid will always display only 4 or 2 cards per row. Because of the limitations of the container in these documents, these cards may be displayed differently than intended.</p>
<section class="component wrap">
  <section class="eui-feature-grid-row">
    <!-- Add as many of these as necessary -->
    <a href="#" class="eui-feature-grid-row__image" style="background: url(../assets/nature-1.jpg)">
      <div class="eui-feature-grid-row__content">
        <h3 class="eui-feature-grid-row__title">Et harum quidem rerum facilis est et expedita distinctio</h3>
        <p class="eui-feature-grid-row__description">
          Vestibulum purus magna, dignissim ut tempus nec, volutpat id tellus. Pellentesque eu libero sagittis, laoreet eros eget, tincidunt orci.
          Integer vel interdum turpis, efficitur egestas erat.
        </p>
      </div>
    </a>
    <!-- Add as many of these as necessary -->
    <a href="#" class="eui-feature-grid-row__image" style="background: url(../assets/nature-1.jpg)">
      <div class="eui-feature-grid-row__content">
        <h3 class="eui-feature-grid-row__title">Et harum quidem rerum facilis est et expedita distinctio</h3>
        <p class="eui-feature-grid-row__description">
          Vestibulum purus magna, dignissim ut tempus nec, volutpat id tellus. Pellentesque eu libero sagittis, laoreet eros eget, tincidunt orci.
          Integer vel interdum turpis, efficitur egestas erat.
        </p>
      </div>
    </a>
	<!-- Add as many of these as necessary -->
    <a href="#" class="eui-feature-grid-row__image" style="background: url(../assets/nature-1.jpg)">
      <div class="eui-feature-grid-row__content">
        <h3 class="eui-feature-grid-row__title">Et harum quidem rerum facilis est et expedita distinctio</h3>
        <p class="eui-feature-grid-row__description">
          Vestibulum purus magna, dignissim ut tempus nec, volutpat id tellus. Pellentesque eu libero sagittis, laoreet eros eget, tincidunt orci.
          Integer vel interdum turpis, efficitur egestas erat.
        </p>
      </div>
    </a>
	
  </section>
</section>
<p style="line-height: 200%">&nbsp;</p>

<!--Flyout-->

<h3 style="font-weight:bold;">Flyout</h3>
<p>The flyout is a tab that can be expanded to reveal additional information.</p>
<div style="background: url(https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/masthead-bg.jpg); width: 100%;
              height: 300px;
              position: relative;
              overflow: hidden;">
    <div class="eui-flyout" style="right: 0px;">
      <div class="eui-flyout__tab" tabindex="0">
        <div class="eui-flyout__tab-nub">
          <i class="eui-icon eui-fa-caret-left"></i>
        </div>
        <i class="eui-icon eui-fa-map-marker"></i>
      </div>
      <ul class="eui-flyout__info">
        <li>Saharan dust over the Mediterranean Sea</li>
        <li>
          <div class="eui-flyout__info-box">
            <i class="eui-icon eui-fa-globe"></i> Aqua/MODIS
          </div>
        </li>
        <li>
          <div class="eui-flyout__info-box">
            <i class="eui-icon eui-fa-calendar"></i> <time datetime="2015-02-01">2/1/2015</time>
          </div>
        </li>
        <li><a href="#"><i class="eui-icon eui-fa-link"></i><span class="eui-sr-only"><!--Insert Link Text Here--></span></a></li>
      </ul>
    </div>
  </div>
  
<p style="line-height: 200%">&nbsp;</p>

<!--Hero-->

<h3 style="font-weight:bold;">Hero</h3>
<p>Hero section should be added to the top of full-width internal pages.</p>
<section class="eui-hero">
  <h2 class="eui-hero__title">Page Title</h2>
  <p class="eui-hero__subtitle">Subtitle optional</p>
</section>
<p style="line-height: 200%">&nbsp;</p>
   
<!--Images-->

<h3 style="font-weight:bold;">Images</h3>
<p style="line-height: 100%">&nbsp;</p>
<img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/australia.jpg" />
<p style="line-height: 100%">&nbsp;</p>
<figure>
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/australia.jpg" />
  <figcaption>
    Pellentesque tellus augue, tempus nec, laoreet at, porttitor blandit, leo.
    Phasellus in odio. Duis lobortis, metus eu laoreet tristique, pede mi
    congue mi, quis posuere augue nulla a augue. Pellentesque sed est. Mauris
    cursus urna id lectus. Integer dignissim feugiat eros. Sed tempor volutpat
    dolor. Vestibulum vel lectus nec mauris semper adipiscing.
  </figcaption>
</figure>
<p style="line-height: 200%">&nbsp;</p>
   
<!--Info Box-->

<h3 style="font-weight:bold;">Information Boxes/Code Examples</h3>
<p>The Info Box is a container for highlighted information or code examples that should stand out a bit from normal page text.</p>
<!-- Use the .eui-info-box class to wrap example code in a scrollable container.
     It can be applied to the <pre> itself, or a containing element. -->
<div class="eui-info-box">
  <p>This is something you really want your users to see.</p>
</div>

<pre class="eui-info-box">// It can also be used for example code.
public class HelloWorld {
  public static void main(String[] args) {
    System.out.println("It can also be applied to &lt;pre&gt; tags for code
    blocks with more \"pop.\"");
  }
}</pre>
<p style="line-height: 200%">&nbsp;</p>

<!--Modal-->

<h3 style="font-weight:bold;">Modal</h3>
<p>Modal dialogues induce a lightbox effect that forces the user to focus solely on the content. It is initiated by clicking or selecting an element. Please use with discretion as much as possible.</p>
<button class="eui-btn--green" id="example-modal" name="modal-id" href="#modal-id">Activate Modal</button>

<div id="modal-id" class="eui-modal-content">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut totam optio, modi enim atque minima exercitationem, rem eligendi, unde nam sint expedita hic voluptatibus aliquam adipisci harum blanditiis voluptates rerum!
  <br />
  <a href="#" class="eui-btn--blue">Sample CTA</a>
</div>

<p style="line-height: 200%">&nbsp;</p>

<!--Sidebar-->

<h3 style="font-weight:bold;">Sidebar</h3>
<p>Modal dialogues induce a lightbox effect that forces the user to focus solely on the content. It is initiated by clicking or selecting an element. Please use with discretion as much as possible.</p>
<aside class="eui-sidebar-container">
  <h3>Aside Heading</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div class="extended-content">
    <p><strong>Extended</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <span class="toggle-extended-content"><a title="Expand section for more content" href="#"><i class="eui-icon eui-fa-chevron-circle-down"></i></a></span>
</aside>

<p style="line-height: 200%">&nbsp;</p>

<!--Points of Interest-->

<h3 style="font-weight:bold;">Points of Interest</h3>
<p>Points of Interest markers can be used to call out to places in an element (typically a hero image) which may be interacted with to display more information.</p>
<div class="eui-poi container" style="width: 100%; height: 400px; overflow: hidden;">
  <div class="eui-point" tabindex="0" style="left: 80px; top: 200px;">
    <div class="eui-marker"></div>
    <div class="eui-callout bottom">
      <div class="callout-content">
        <h3>Callout Title</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="data-options">
        <a href="#"><i class="eui-icon eui-fa-arrow-circle-down"></i>Download Link</a>
      </div>
    </div>
  </div>
  <div class="eui-point" tabindex="0" style="left: 618px; top: 300px;">
      <div class="eui-marker"></div>
      <div class="eui-callout bottom">
        <div class="callout-content">
          <h3>Callout Title</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="data-options">
          <a href="#"><i class="eui-icon eui-fa-arrow-circle-down"></i>Download Link</a>
        </div>
      </div>
    </div>
</div>

<p style="line-height: 200%">&nbsp;</p>
   
<!--Super Bullets-->

<h3 style="font-weight:bold;">Super Bullets</h3>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Default Super Bullet</p>
<div class="eui-super-bullet">
  <a href="#">
    <div class="eui-super-bullet-icon"><i class="eui-icon eui-fa-align-left"></i></div>
    <div class="eui-super-bullet-content">
      <h4>Internal Bullet Heading</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </div>
  </a>
</div>
<p style="color: #189c54; font-weight: bold; text-transform: uppercase;">Image Super Bullet</p>
<div class="eui-super-bullet">
  <a href="#">
    <div class="eui-super-bullet-image"><img src="https://picsum.photos/50/50" alt="bullet image" /></div>
    <div class="eui-super-bullet-content">
      <h4>Internal Bullet Heading</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </div>
  </a>
</div>
#}



<!--end style guide content-->
<p style="line-height: 200%">&nbsp;</p>
{% endblock %}

