<div id="main-body-bottom" class="fluid-container bottom-blue-gradient">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <div class="row homepage-worldview justify-content-between">
        <div class="row col-sm-12 col-lg-4">
          <div class="card-1-container h-100">
            <div class="col-12 homepage-title-light card-1 text-align-center">
              <a href="/worldview/worldview-image-archive/">
                Worldview<br>
                Image of the Week
              </a>
            </div>
            {% set worldview_link = '/worldview/worldview-image-archive/fires-in-manitoba-and-ontario-canada' %}
            <div class="card-title text-center">
              <a href="{{ worldview_link }}">Fires in Manitoba and Ontario, Canada</a>
            </div>
            <div class="card-date text-center">
              Jul 11, 2021
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <a href="{{ worldview_link }}"><img class="img-fluid w-100 h-100" src="/sites/default/files/clearbox.png"></a>
        </div>
        <div class="row col-sm-12 col-md-12 col-lg-4 square-cards-row">
          <div class="col-md-12 col-lg-6 square-card card-2">
            <div class="card-contents my-auto">
              <div class="card-title">
                <a href="/worldview/worldview-image-archive/rio-de-la-plata-estuary">Rio de la Plata Estuary</a>
              </div>
              <div class="card-date">
                Jul 6, 2021
              </div>
            </div>
          </div>
          <div class="col-md-12 col-md-12 col-lg-6 square-card card-3">
            <div class="card-contents my-auto">
              <div class="card-title">
                <a href="/worldview/worldview-image-archive/clear-view-of-iceland">Clear View of Iceland</a>
              </div>
              <div class="card-date">
                Jun 21, 2021
              </div>
            </div>
          </div>
          <div class="col-md-12 col-md-12 col-lg-6 square-card card-4">
            <div class="card-contents my-auto">
              <div class="card-title">
                <a href="/worldview/worldview-image-archive/fires-in-eastern-cape-province-south-africa">Fires in Eastern Cape Province, South Africa</a>
              </div>
              <div class="card-date">
                Jun 28, 2021
              </div>
            </div>
          </div>
          <div class="col-md-12 col-md-12 col-lg-6 square-card card-5">
            <div class="card-contents my-auto">
              <div class="card-title">
                <a href="/worldview/worldview-image-archive/annular-solar-eclipse">Annual Solar Eclipse</a>
              </div>
              <div class="card-date">
                Jun 14, 2021
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
