/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */

.breadcrumb {
  font-size: 0.929em$font-size-sm;
}

.region-breadcrumb {
  padding: 0 15px 0.25em;
  width: 100%;
}

.site-breadcrumbs {
  margin-top: 10px;
  font-weight: bold;
  font-size: .75rem;
}

.breadcrumb-item {
  a:link, a:visited, a:active {
    color: $blue-500;
  }

  a:hover {
    text-decoration: underline;
  }
}

.breadcrumbs-dark-background {
  background-color: #23404E;
  padding: 0.1rem !important;
  border-bottom: 1px solid #1D4A56;

  .breadcrumb {
    margin-bottom: 0.5rem;
    .active {
      color: #8C8E8A;
    }
  }

  .site-breadcrumbs {
    margin-top: 10px;
    font-weight: bold;
    font-size: .75rem;
  }

  .breadcrumb-item {
    a:link, a:visited, a:active {
      color: $white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

}
