/**
 * @file
 * Theme styling for tabs.
 */

nav.earthdata-tabs {
  margin-bottom: $spacer;
}

// Earthdata Tabs - level one
ul.earthdata-tabs {
  background: $white;
  display: flex;
  border-bottom: 1px solid $blue-700 !important;

  .nav-item {
    flex-grow: 0;
    background: $gray-200 !important;
    font-size: .85rem;
    color: $blue-700 !important;
    margin: 0 0.5rem 0 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-color: $blue-700 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    &.active {
      background: $blue-700 !important;
    }

    a {
      background-color: $gray-200 !important;
      border-bottom-color: $blue-700 !important;
      color: $blue-700 !important;
      text-align: center;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      &.active {
        background-color: $blue-700 !important;
        color: $white !important;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border: none !important;

        &:hover {
          background-color: $blue-700 !important;
          color: $white !important;
        }
      }
    }
  }
}

// Earthdata Tabs - level two
.bootstrap-tabs ul.earthdata-tabs {
  background: $white;
  display: flex;
  border-bottom: 1px solid $teal !important;

  .nav-item {
    flex-grow: 0;
    background: $gray-200 !important;
    font-size: .85rem;
    color: $blue-700 !important;
    margin: 0 0.5rem 0 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-color: $teal !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    &.active {
      background: $teal !important;
    }

    a {
      background-color: $gray-200 !important;
      border-bottom-color: $teal !important;
      color: $blue-700 !important;
      text-align: center;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      &.active {
        background-color: $teal !important;
        color: $white !important;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border: none !important;

        &:hover {
          background-color: $teal !important;
          color: $white !important;
        }
      }
    }
  }
}
