{#
/**
 * @file
 * Default theme implementation for a media layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}

{% if content['#node'] %}
  {% set path = path('entity.node.canonical', {'node': content['#node'].id()}) %}
{% endif %}

  <div{{ attributes.addClass('row') }}>

    {% if content.top %}
      <div {{ region_attributes.top.addClass('region--top') }}>
        {{ content.top }}
      </div>
    {% endif %}

    {# {{ dump(content['#node'].created.value) }} #}

    {# Archived Banner Block - content older than Friday, May 1, 2015 (timestamp - 1430452800) #}
    {% if (content.second|render is not empty) and (content['#node'].created.value < '1430452800') and ('/learn/articles' in path) %}
      {{ drupal_entity('block_content', 62) }}
    {% endif %}

    {% if content.second|render is not empty %}
    <div{{ region_attributes.first.addClass('col-sm-12 col-md-12 col-lg-9 mainContent') }}>
      {{ content.first }}
    </div>

    <div{{ region_attributes.second.addClass('col-sm-12 col-md-12 col-lg-3 sidebar') }}>
        {{ content.second }}
        {# Display the Featured Ad for all content types, except for the pathfinder_page content type #}
        {% if content['#bundle'] != 'pathfinder_page' %}
          {{ drupal_view('featured_ad', 'block_1') }}
        {% endif %}
    </div>
    {% else %}
      <div{{ region_attributes.first.addClass('col-12 mainContent') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.bottom %}
      <div {{ region_attributes.bottom.addClass('region--bottom') }}>
        {{ content.bottom }}
      </div>
    {% endif %}

  </div>
{% endif %}
