{#
/**
 * @file
 * Default theme implementation for a media layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes.addClass('row') }}>

    {% if content.top %}
      <div {{ region_attributes.top.addClass('region--top') }}>
        {{ content.top }}
      </div>
    {% endif %}
    {% if content.first|render is not empty %}
    <div{{ region_attributes.first.addClass('col-sm-12 col-md-12 col-lg-3 sidebar') }}>
      {{ content.first }}
    </div>

    <div{{ region_attributes.second.addClass('col-sm-12 col-md-12 col-lg-9 mainContent') }}>
      {{ content.second }}
    </div>
    {% else %}
      <div{{ region_attributes.second.addClass('col-12 mainContent') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.bottom %}
      <div {{ region_attributes.bottom.addClass('region--bottom') }}>
        {{ content.bottom }}
      </div>
    {% endif %}

  </div>
{% endif %}
