{#
/**
 * @file
 * Display Suite 1 column template.
 * Override of ds-1col.html.twig - override for Job Opening detail pages.
 * SG 11/07/2022
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  <div class="row justify-content-end">
    <a class="btn btn-light mb-4 mb-md-0 me-2 me-md-5 w-auto" href="/jobs" >All Jobs</a>
  </div>

  {{ ds_content }}

</{{ ds_content_wrapper }}>
