{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  {% if content['#node'] and path('entity.node.canonical', {'node': content['#node'].id() }) == '/sensors' %}
    {{ drupal_view('sensor', 'block_1') }}
  {% else %}
    {{ ds_content }}
  {% endif %}

</{{ ds_content_wrapper }}>
