{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 * - sidebar_collapse: If the sidebar_first will collapse.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}

<div id="page-wrapper" class="homepage">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
      {% block head %}
        {% if page.secondary_menu or page.top_header or page.top_header_form %}
          <nav{{ navbar_top_attributes }}>
          {% if container_navbar %}
          <div class="container">
          {% endif %}
              {{ page.secondary_menu }}
              {{ page.top_header }}
              {% if page.top_header_form %}
                <div class="form-inline navbar-form ml-auto">
                  {{ page.top_header_form }}
                </div>
              {% endif %}
          {% if container_navbar %}
          </div>
          {% endif %}
          </nav>
        {% endif %}
        <nav{{ navbar_attributes.addClass('pt-3 pb-2') }}>
          {% if container_navbar %}
          <div class="container">
          {% endif %}
            {{ page.header }}
            {% if page.primary_menu or page.header_form %}
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse justify-content-end" id="CollapsingNavbar">
                {{ page.primary_menu }}
                {% if page.header_form %}
                  <div class="form-inline navbar-form justify-content-end">
                    {{ page.header_form }}
                  </div>
                {% endif %}
	          </div>
            {% endif %}
            {% if sidebar_collapse %}
              <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
            {% endif %}
          {% if container_navbar %}
          </div>
          {% endif %}
        </nav>
      {% endblock %}
    </header>
    <div id="main-wrapper" class="layout-main-wrapper clearfix">

      <div id="main-top" class="container-fluid pt-4">
          <div class="row row-offcanvas row-offcanvas-left clearfix">

            <!-- Mission Statement and Home Page Interactive -->
            <!-- Desktop Version -->
            <div class="interactive-container d-none d-sm-none d-lg-block">
              <div class="circle-container">
                <div class="center">
                  <div class="row"><span class="title">Your Gateway to NASA Earth Observation Data</span>
                  </div>
                  <div class="row">
                    <span class="subheader px-5">The Earth Science Data Systems (ESDS) Program provides full and open access to NASA&rsquo;s collection of Earth science data for understanding and protecting our home planet. Begin your Earthdata exploration by clicking on any of the discipline icons above.
                    </span>
                  </div>
                  <div class="row">
                    <span class="subheader">
                    <a class="btn btn-cta" href="/learn/get-started" role="button">Get Started</a>
                    <a class="btn btn-cta" href="/learn/find-data" role="button">Find Data</a>
                    <a class="btn btn-cta" href="/learn/use-data" role="button">Use Data</a>
                    </span>
                  </div>
                  <div class="navigation" id="nav">
                    <div class="item atmosphere">
                      <img src="/sites/default/files/2021-12/atmosphere-icon.png" alt="atmosphere" class="circle">
                      <ul>
                        <li><a href="/topics/atmosphere">Atmosphere</a></li>
                      </ul>
                    </div>
                    <div class="item biosphere">
                      <img src="/sites/default/files/2021-12/biosphere-icon.png" alt="biosphere" class="circle">
                      <ul>
                        <li><a href="/topics/biosphere">Biosphere</a></li>
                      </ul>
                    </div>
                    <div class="item cryosphere">
                      <img src="/sites/default/files/2021-12/cryosphere-icon.png" alt="cryosphere" class="circle">
                      <ul>
                        <li><a href="/topics/cryosphere">Cryosphere</a></li>
                      </ul>
                    </div>
                    <div class="item human-dimensions">
                      <img src="/sites/default/files/2021-12/human-dimensions-icon.png" alt="human dimensions" class="circle">
                      <ul class="two-lines">
                        <li><a href="/topics/human-dimensions">Human Dimensions</a></li>
                      </ul>
                    </div>
                    <div class="item land-surface">
                      <img src="/sites/default/files/2021-12/land-surface-icon.png" alt="land-surface" class="circle">
                      <ul>
                        <li><a href="/topics/land-surface">Land Surface</a></li>
                      </ul>
                    </div>
                    <div class="item ocean">
                      <img src="/sites/default/files/2021-12/oceans-icon.png" alt="ocean" class="circle">
                      <ul>
                        <li><a href="/topics/oceans">Ocean</a></li>
                      </ul>
                    </div>
                    <div class="item solid-earth">
                      <img src="/sites/default/files/2021-12/solid-earth-icon.png" alt="solid-earth" class="circle">
                      <ul>
                        <li><a href="/topics/solid-earth">Solid Earth</a></li>
                      </ul>
                    </div>
                    <div class="item sun-earth-interactions">
                      <img src="/sites/default/files/2021-12/sun-earth-interactions-icon.png" alt="sun-earth interactions" class="circle" >
                      <ul class="two-lines">
                        <li><a href="/topics/sun-earth-interactions">Sun&#8211;Earth Interactions</a></li>
                      </ul>
                    </div>
                    <div class="item terrestrial-hydrosphere">
                      <img src="/sites/default/files/2021-12/terrestrial-hydrosphere-icon.png" alt="terrestrial hydrosphere" class="circle" >
                      <ul class="two-lines">
                        <li><a href="/topics/terrestrial-hydrosphere">Terrestrial Hydrosphere</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Mobile Version -->
            <div class="interactive-container py-4 d-block d-sm-block d-lg-none">
              <div class="text-center mb-3 white-text text-uppercase px-3">
                  Your Gateway to NASA Earth Observation Data
              </div>
              <div class="explore-topics my-4">
                <a href="/topics">Explore<br>Topics</a>
              </div>
              <div class="white-text text-center text-uppercase my-4 px-3">
                The Earth Science Data Systems (ESDS) Program provides full and open access to NASA’s
                collection of Earth science data for understanding and protecting our home planet.
              </div>
              <div class="mb-3">
                <div class="text-center"><a class="btn btn-cta w-75" href="/learn/get-started" role="button">Get Started</a></div>
                <div class="text-center"><a class="btn btn-cta w-75" href="/learn/find-data" role="button">Find Data</a></div>
                <div class="text-center"><a class="btn btn-cta w-75" href="/learn/use-data" role="button">Use Data</a></div>
              </div>
            </div>

          </div>
      </div>

      <!-- Top Blue Gradient -->
      <div class="py-5 top-blue-gradient"></div>

      <!-- Pathfinder Slide Show -->
      <div class="container homepage-pathfinders pb-sm-3 pb-md-5">
        <div class="row pb-5 justify-content-md-center pathfinders white-bg">
          <div class="col-sm-12 col-md-12 col-lg-4 my-auto">
            <div class="col-12 homepage-title-dark">
              <a href="/learn/pathfinders">Data Pathfinders</a>
            </div>
            <div class="homepage-subtext-dark py-2 col-12">
              New to using NASA Earth science data? Our Data Pathfinders will help you chart a path through the process of selecting data products and learning how to use them. Click the arrows on either side of the box to find your topic-specific starting point.
            </div>
            <div class="view-all pt-3 pb-3 pb-sm-3 pb-md-0 col-12">
              <a href="/learn/pathfinders">View All ></a>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-8 my-auto">

            <div id="carouselPathfinders" class="carousel slide px-0" data-bs-interval="false" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href="/learn/pathfinders/agricultural-and-water-resources-data-pathfinder">
                    <img src="/sites/default/files/pathfinder-images/agriculture-pathfinder-home.jpg" class="d-block w-100" alt="Agriculture-Water">
                    <div class="carousel-caption slide-title">
                      Agriculture & Water
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/health-and-air-quality-data-pathfinder">
                    <img src="/sites/default/files/pathfinder-images/air-quality-pathfinder-home.jpg" class="d-block w-100" alt="Air Quality">
                    <div class="carousel-caption slide-title">
                      Air Quality
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/biodiversity">
                    <img src="/sites/default/files/pathfinder-images/biodiversity-pathfinder-home.jpg" class="d-block w-100" alt="Biological Diversity and Ecological Forecasting">
                    <div class="carousel-caption slide-title">
                      Biological Diversity and Ecological Forecasting
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/disasters">
                    <img src="/sites/default/files/pathfinder-images/disasters-pathfinder-home.jpg" class="d-block w-100" alt="Disasters">
                    <div class="carousel-caption slide-title">
                      Disasters
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/diseases-data-pathfinder">
                    <img src="/sites/default/files/pathfinder-images/diseases-pathfinder-home.jpg" class="d-block w-100" alt="Diseases">
                    <div class="carousel-caption slide-title">
                      Diseases
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/gis-pathfinder">
                    <img src="/sites/default/files/pathfinder-images/geography-pathfinder-home.jpg" class="d-block w-100" alt="GIS">
                    <div class="carousel-caption slide-title">
                      GIS
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/greenhouse-gases-data-pathfinder">
                    <img src="/sites/default/files/pathfinder-images/greenhouse-pathfinder-home.jpg" class="d-block w-100" alt="Greenhouse Gases">
                    <div class="carousel-caption slide-title">
                      Greenhouse Gases
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/sea-level-change">
                    <img src="/sites/default/files/pathfinder-images/sea-level-pathfinder-home.jpg" class="d-block w-100" alt="Sea Level Change">
                    <div class="carousel-caption slide-title">
                      Sea Level Change
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/sdg-data-pathfinders">
                    <img src="/sites/default/files/pathfinder-images/sustainable-development-pathfinder-home.jpg" class="d-block w-100" alt="Sustainable Development Goals">
                    <div class="carousel-caption slide-title">
                      Sustainable Development Goals (SDGs)
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/water-quality-data-pathfinder">
                    <img src="/sites/default/files/pathfinder-images/water-quality-pathfinder-home.jpg" class="d-block w-100" alt="Water Quality">
                    <div class="carousel-caption slide-title">
                      Water Quality
                    </div>
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="/learn/pathfinders/wildfire-data-pathfinder">
                    <img src="/sites/default/files/pathfinder-images/wildfires-pathfinder-home.jpg" class="d-block w-100" alt="Wildfires">
                    <div class="carousel-caption slide-title">
                      Wildfires
                    </div>
                  </a>
                </div>

              </div>
              <button class="carousel-control-prev previous" type="button" data-bs-target="#carouselPathfinders" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next next" type="button" data-bs-target="#carouselPathfinders" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>
        </div>
      </div>

      <!-- Resource Spotlight -->
      <div class="container-fluid resource-spotlight pb-5">
        <div class="container p-0">
        <div class="row py-3 justify-content-between gx-0 gx-sm-0 gx-md-5">
          <div class="col-12 text-center rs-title pt-3">
            Resource Spotlight
          </div>
          <div class="col-12 text-center rs-subtitle mb-4">
            Find data, articles, webinars and other resources on relevant topics in one place on these spotlight pages.
          </div>
          <div class="col-12 row col-sm-12 col-lg-12 justify-content-between g-0">
            <div class="col-12 col-sm-12 col-lg-3 white-text">
              <div class="card">
                <div class="card-body text-center green-bg">
                  <div class="title-box">
                    <a href="/resource-spotlight/sea-level-change" class="stretched-link">
                      <img class="img-fluid" src="/sites/default/files/2022-08/sea-level-rs-icon.png" />
                    </a>
                  </div>
                  <div class="card-title">
                    Sea Level Change
                  </div>
                  <div class="card-footer green-bg">
                    <p class="card-text">Satellite data show that the rate of global mean sea level rise has accelerated to 3.9 mm/year.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-3 white-text">
              <div class="card">
                <div class="card-body text-center orange-bg">
                  <div class="title-box">
                    <a href="/resource-spotlight/wildfires" class="stretched-link">
                      <img class="img-fluid" src="/sites/default/files/2022-07/wildfires-icon-2.png" />
                    </a>
                  </div>
                  <div class="card-title">
                  <br />
                    Wildfires
                  </div>
                  <div class="orange-bg">
                    <p class="card-text">Wildfire is an essential process connecting terrestrial systems to the atmosphere and climate.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-3 white-text">
              <div class="card">
                <div class="card-body text-center teal-bg">
                  <div class="title-box">
                    <a href="/resource-spotlight/tropical-cyclones" class="stretched-link">
                      <img class="img-fluid" src="/s3fs-public/2022-06/tropical-cyclone-rs-icon.png" />
                    </a>
                  </div>
                  <div class="card-title">
                  <br />
                    Tropical Cyclones
                  </div>
                  <div class="card-footer teal-bg">
                    <p class="card-text">Tropical cyclones are one of the biggest threats to life and property. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>


      <div id="main-body" class="container-fluid">
      {% block content %}
        <div id="main" class="{{ container }}">
          <div class="row row-offcanvas row-offcanvas-left clearfix">
            <main{{ content_attributes }}>
              <section class="section">
                <a id="main-content" tabindex="-1"></a>
                {{ page.content }}
              </section>
            </main>
          </div>
        </div>
      {% endblock %}
      </div>

      <!-- Worldview Image of the Week -->
      <div id="main-body-bottom" class="container-fluid bottom-blue-gradient">
        <div class="container">
          {{ drupal_view('worldview_image_of_the_week', 'worldview_homepage_block') }}
        </div>

      </div>

      <div id="main-bottom" class="container-fluid bottom-blue-globe">
        <div class="container">

          <div class="row row-offcanvas row-offcanvas-left clearfix">

            <!-- Engage With Us -->
            <div class="row justify-content-between homepage-engage py-5">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 engage-title my-auto">
                <div class="col-12 homepage-title-light">
                  <a href="/engage">Engage</a>
                </div>
                <div class="homepage-subtext-light py-4 py-sm-4 py-md-2 col-12">
                  Explore the ways you can engage with NASA Earth science data, services, and community.
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-5 col-lg-4 my-auto">
                <div class="engage-link col-12"><a href="/esds/open-science">Open Science</a></div>
                <div class="engage-link col-12"><a href="/api">Open Services and APIs</a></div>
                <div class="engage-link col-12"><a href="/esdis/eso/standards-and-references">Standards and Practices</a></div>
                <div class="engage-link col-12"><a href="https://forum.earthdata.nasa.gov/">Forums</a></div>
                <div class="engage-link col-12"><a href="/contact">Contact Us</a></div>
              </div>
              <div class="col-12 col-sm-12 col-lg-4">
                <img class="homepage-satellite-2" src="./sites/default/files/2021-10/satellite-home-engage.png">
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
    <div class="homepage">
    <footer class="site-footer">
      {% block footer %}
        <div class="pb-3">
        <div class="{{ container }}">
          {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
            <div class="site-footer__top clearfix">
              {{ page.footer_first }}
              {{ page.footer_second }}
              {{ page.footer_third }}
              {{ page.footer_fourth }}
            </div>
          {% endif %}
          {% if page.footer_fifth %}
            <div class="site-footer__bottom">
              {{ page.footer_fifth }}
            </div>
          {% endif %}
        </div>
        </div>
      {% endblock %}
    </footer>
    </div>
  </div>
</div>
