{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - hero_image_url: The relative URL for the hero image.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}

{% set content_type_array = [
  'program',
  'top_level_landing',
  'resource_spotlight',
  'pathfinder_page',
  'page'
]%}
{% if title == 'Topics' or title == 'Data Pathfinders' or (vocabulary == 'gcmd') or content_type in content_type_array %}
  {% set container_fluid_classes = 'container-fluid mb-3' %}
{% else %}
  {% set container_fluid_classes = 'container-fluid mb-5' %}
{% endif %}

{% if hero_image_url %}
  {% if vocabulary == 'gcmd' %}
    {% set hero_style = 'background-image: url(' ~ hero_image_url ~ ');' %}
    {% set hero_class = 'hero-banner-gcmd' %}
  {% elseif vocabulary == 'daac' %}
    {% set hero_style = 'background-image: url(' ~ hero_image_url ~ ');' %}
    {% set hero_class = 'hero-banner-daac' %}
  {% elseif content_type == 'top_level_landing' %}
    {% set hero_style = 'background-image: url(' ~ hero_image_url ~ ');' %}
    {% set hero_class = 'hero-banner-landing' %}
  {% elseif content_type == 'program' %}
    {% set hero_style = 'background-image: url(' ~ hero_image_url ~ ');' %}
    {% set hero_class = 'hero-banner-program' %}
  {% elseif content_type == 'resource_spotlight' %}
    {% set hero_style = 'background-image: url(' ~ hero_image_url ~ ');' %}
    {% set hero_class = 'hero-banner-program' %}
  {% elseif content_type == 'page' %}
    {% set hero_style = 'background-image: url(' ~ hero_image_url ~ ');' %}
    {% set hero_class = 'hero-banner-program' %}
  {% else %}
    {% set hero_style = 'background-image: url(' ~ hero_image_url ~ ');' %}
    {% set hero_class = 'hero-banner' %}
  {% endif %}
{% elseif term_child %}
  {% set hero_class = 'white-bg' %}
{% else %}
  {% set hero_class = 'blue-bg' %}
{% endif %}

{% if content %}
  <div class="{{ container_fluid_classes }}">
    <section{{ attributes.addClass(classes, hero_class) }} style="{{ hero_style }}">
      {{ content }}
    </section>
  </div>
{% endif %}
