{#
/**
 * @file
 * Theme for "Group by root" formatter.
 *
 * Available variables:
 * - id: The ID of a root term.
 * - title: Title of a group.
 * - terms: Children terms.
 *
 * @see cshs_theme()
 *
 * @ingroup themeable
 */
#}
<div class="cshs-term-group">
  <div class="cshs-term-group__title" data-id="{{ id }}">
     {{ title }}
  </div>

  {% if terms is not empty %}
    <div class="cshs-term-group__terms">
      {% for term in terms %}
        <span class="cshs-term-group__term" data-id="{{ term.id }}" data-parent="{{ term.parent }}">
          {{ term.label }} {% if loop.last == false %} <span class="blue-text">|</span> {% endif %}
        </span>
      {% endfor %}
    </div>
  {% endif %}
</div>
