{#
/**
 * @file
 * Default twig file for Hierarchical Term Formatter.
 *
 * Available variables:
 * - terms: The processed taxonomy terms to display.
 * - wrapper: The HTML tag that should wrap each of the terms.
 * - separator: The text used to separate each of the terms.
 *
 * @see template_preprocess_hierarchical_term_formatter()
 *
 * @ingroup themeable
 */
#}
{% if wrapper == 'ol' or wrapper == 'ul' %}
  <{{ wrapper }} class="terms-hierarchy">
{% endif %}
{% for term in terms -%}
{% if loop.last == true %}<b>{% endif %}{{ term }}
  {% if loop.last == true %}</b>{% endif %}
  {% if loop.last == false %}{% endif %}
{% endfor %}
{% if wrapper == 'ol' or wrapper == 'ul' %}
  </{{ wrapper }}>
{% endif %}
